.code-embed-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.code-embed-div {
  flex: 1;
  width: 1173px;
  height: auto;
}
